@media (max-height: 1920px) {

}

@media (max-width: 1200px) {
    /* HEADER */

    .header {
        justify-content: space-between;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 23px;
    }

    .burger__line {
        position: absolute;
        width: 30px;
        height: 3px;
        left: 0;
        background-color: #000;
    }

    .burger__line:nth-child(1) {
        top: 0;
    }

    .burger__line:nth-child(2) {
        transform: translateY(-50%);
    }

    .burger__line:nth-child(3) {
        bottom: 0;
    }

    .header img{
        width: 150px;
        height: 48px;
    }

    .header__nav {
        display: none;
    }

    .hero__title {
        font-size: 60px;
        line-height: 73px;
    }

    /* HERO */

    .hero {
      padding: 160px 77px;
      margin-top: 40px;
      background-image: url("../img/hero_1_1200.jpg");
    }

    .hero__title {
      font-size: 60px;
      line-height: 73px;
    }

    .hero__text {
      margin-top: 16px;
      font-size: 20px;
      line-height: 24px;
    }

    .hero__btn {
      margin-top: 60px;
    }

    .hero__list {
      left: 50%;
      bottom: 30px;
    }

    /* ABOUT-US */

    .about-us {
      margin-top: 35px;
    }

    .about-us__article {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .about-us__article .article__left {
      width: 100%;
      height: 640px;
      margin-right: 0;
      margin-bottom: 32px;
    }

    .about-us__article .article__right {
      width: 100%;
    }

    .right__wrapper {
      justify-content: flex-start;
      margin-right: 0;
      padding-left: 77px;
    }

    .right__wrapper img {
      margin-right: 50px;
    }

    .topic-block {
      width: 100%;
    }

    .right__wrapper .section-topic {
      margin-bottom: 8px;
    }

    .right__wrapper .section-text {
      width: 450px;
    }

    /* ABOUT-WORK */

    .about-work__article {
      margin-top: 50px;
      max-height: fit-content;
    }

    .about-work__article .article__left {
      width: calc((100% - 50px));
      margin-right: 50px;
    }

    .about-work__article .section-topic {
      line-height: 32px;
    }

    .about-work__article .left__btns {
      margin-top: 25px;
    }

    .about-work__article .article__right {
      width: calc((100% - 50px));
      height: inherit;
      border-radius: 35px;
      overflow: hidden;
    }

    .about-work__article .article__right {
      background-image: url("../img/about-work_1_1200.jpg");
    }

    /* FAQ */

    .faq {
      margin-top: 80px;
    }

    .quest-text {
      font-size: 20px;
    }

    /* FOOTER */

    .footer {
      margin-top: 80px;
    }

    .f-right {
      display: none;
    }

    .f-left {
      width: calc(100% / 2);
    }

    .f-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .input-form {
      width: 541px;
    }

    .textarea-form {
      width: 541px;
    }

    .f-center button {
      margin-top: 32px;
    }
}

@media (max-width: 992px) {
    /* HEADER */

    .header {
      padding: 11px 50px;
    }

    .container {
      margin: 0 50px;
    }

    /* HERO */

    .hero {
      padding: 160px 40px;
      background-image: url("../img/hero_1_768.png");
    }

    .hero__title {
      font-size: 50px;
      line-height: 61px;
    }

    .hero__text {
      font-size: 18px;
      line-height: 22px;
    }

    /* ABOUT-US */

    .about-us {
      margin-top: 40px;
    }

    .about-us__article {
      margin-top: 60px;
    }

    .about-us__article .left__wrapper {
      padding: 40px;
    }

    .about-us__article .section-text {
      margin-right: 47px;
    }

    .about-us__article .right__wrapper {
      align-items: center;
      padding: 35px 40px;
    }

    .about-us__article .right__wrapper img {
      width: 114px;
      height: 99px;
      margin-right: 16px;
    }

    /* ABOUT-WORK */

    .about-work {
      margin-top: 80px;
    }

    .about-work__article {
      flex-direction: column;
    }

    .about-work__article .article__right:nth-child(1) {
      display: block;
      margin-bottom: 38px;
      width: 100%;
      height: 284px;
      background-image: url("../img/about-work_1_768.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 32px;
      overflow: hidden;
    }

    .about-work__article .article__left {
      width: 100%;
      margin-right: 0;
    }

    /* FAQ */

    .quest-text {
      max-width: 570px;
    }

    /* FOOTER */

    .footer {
      flex-direction: column;
      padding: 50px 50px;
    }

    footer .f-left:first-child {
      display: none;
    }

    footer .f-left:last-child {
      display: block;
      margin-top: 66px;
    }

    .social {
      margin-top: 16px;
    }

    .f-center {
      align-items: flex-start;

    }

    .textarea-form {
      margin: 0;
    }

  }
