:root {
  --orange: #ff9900;
  --orange2: #e1670E;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

::placeholder {
  color: #cacaca
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.container {
  margin: 0 75px;
}

.btn {
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.section-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-topic {
  margin: 0;
}
