:root {
  --orange: #ff9900;
  --orange2: #e1670E;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
      url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

::placeholder {
  color: #cacaca
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.container {
  margin: 0 75px;
}

.btn {
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.section-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-topic {
  margin: 0;
}

/* HEADER */

.header {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px 75px;
  background-color: #fff;
  border-radius: 0 0 32px 32px;
}

.header__nav {
  align-items: center;
}

.nav__list {
  justify-content: center;
  list-style: none;
}

.list__item {
  position: relative;
}

.list__item:not(:last-child) {
  margin-right: 85px;
}

.item__link {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.item__link:focus {
  outline: 2px solid var(--orange);
}

.item__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: var(--orange);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.item__link:hover::after {
  opacity: 1;
}

.item__link:active:after {
  background-color: var(--orange2);
  opacity: 1;
}

.item__link:active {
  outline: none;
  color: var(--orange2);
}


.header__search {
  height: fit-content;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  transition: stroke 0.3s ease-in-out;
}


.search {
  position: relative;
  stroke: black;
  fill: transparent;
}

.search button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out, outline 0.3s ease-in-out;
  cursor: pointer;
}


.search button:focus {
  outline: 2px solid var(--orange);
  outline-offset: 4px;
}

rect {
  fill: black;
}

.search button:hover {
  stroke: var(--orange)
}

.search button:hover rect {
  fill: var(--orange);
}

/* .search::after {
  content: "";
  position: absolute;
  outline: none;
  width: 539px;
  height: 60px;
  background-color: red;
  border-radius: 24px;
  opacity: 0;
}

.search:active::after {
  opacity: 1;
} */

/* HERO */

.hero {
  position: relative;
  max-width: 100%;
  margin-top: 50px;
  padding: 100px 80px;
  border-radius: 32px;
  background-image: url("../img/hero_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  max-width: 837px;
  margin: 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #fff;
}

.hero__text {
  max-width: 790px;
  margin: 0;
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.hero__btn {
  margin-top: 90px;
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #fff;
  background: var(--orange);
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:focus {
  outline: none;
  background-color: #FFB84D;
}


.hero__btn:hover {
  background-color: #FFB84D;
}

.hero__btn:active {
  background-color: var(--orange2);
}

.hero__list {
  position: absolute;
  left: 50%;
  bottom: 30px;
  list-style: none;
}

.hero-marker {
  cursor: pointer;
}

.hero-marker:not(:last-child) {
  margin-right: 20px;
}
